<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div class="fadeIn first mt-5">
      <h4>Log In</h4>
    </div>
    <!-- Login Form -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, id: "login", class: "fadeIn second", name: "login", placeholder: "Email" %>
      <%= f.password_field :password, id: "password", class: "fadeIn third mb-3", name: "login", placeholder: "Password" %>
      <% if devise_mapping.rememberable? %>
        <div class="custom-control custom-checkbox mb-3">
          <%= f.check_box :remember_me, class: "custom-control-input", id: "customCheck1" %>
          <%= f.label :remember_me, class: "custom-control-label", for: "customCheck1" %>
        </div>
      <% end %>
      <%= f.submit "Log in", class: "fadeIn fourth" %>
    <% end %>

    <!-- Remind Passowrd -->
    <div id="formFooter">
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: "underlineHover" %>
        |
        <%= link_to "Sign up", new_registration_path(resource_name) %>
    </div>
  </div>
</div>
