<div class="raw">
  <div class="col-md-12">
    <%= link_to 'New Images', new_bucket_list_path, class: "btn btn-primary" %>
  </div>
</div>
<% @bucket_lists.each do |bucket_list| %>
  <div class="card" style="width: 18rem;">
    <% if bucket_list.images.attached? %>
      <% bucket_list.images.each do |image| %>
          <%= image_tag image, size: '286x180', class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= image.blob.filename %></h5>
            <p class="card-text">Status : <%= bucket_list.status.titleize %></p>
            <div class='mb-3'>
              <%= link_to 'Show', bucket_list_path(bucket_list), class: 'btn btn-primary'  %>
              <%= link_to 'Delete', bucket_list_path(bucket_list), method: :delete, class: "btn btn-primary" %>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
<% end %>
