<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div class="fadeIn first mt-5">
      <h4>Sign up</h4>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.email_field :email, id: "login", class: "fadeIn second", placeholder: "Email" %><br />
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, id: "password", class: "fadeIn third mb-3", placeholder: "Password" %>
        <%= f.password_field :password_confirmation, id: "password", class: "fadeIn third mb-3", placeholder: "Confirm Password" %>
        <%= f.submit "Sign up", class: "fadeIn fourth" %>
    <% end %>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <%= link_to "Log in", new_session_path(resource_name), class: "underlineHover" %>
    </div>
  </div>
</div>
